:root {
  --black: #000000;
  --grey: #f2f2f2;
  --greytint2: #d9d9d9;
  --pink: #0064fb;
  --pink2: #DEEBFF;
  --strokecard: #ffffff;
  --white: #ffffff;

  --font-size-l: 16px;
  --font-size-m: 14px;
  --font-size-xl: 17px;
  --font-size-xxl: 18px;
  --font-size-xxxl: 22px;

  --font-family-raleway: "Raleway", Helvetica;
}

p,
a {
  font-family: var(--font-family-raleway);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  color: var(--black);
  line-height: normal;
}

input {
  border: none;
}


.filtertext {
  color: var(--black);
  font-family: var(--font-family-raleway);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
}

h1,
h2 {
  font-family: var(--font-family-raleway);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
}

h3 {
  font-family: var(--font-family-raleway);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
}

span {
  color: var(--black);
  font-family: var(--font-family-raleway);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

em {
  color: var(--black);
  font-family: var(--font-family-raleway);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
  margin-left: -5px;

}

html {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2%;

}

body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
img,
i,
ol,
ul,
li,
form,
article,
aside,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;

}

ol,
ul {
  list-style: none
}

a {

  text-decoration: none;

}

* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;



}

.link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: var(--greytint);

}

.link:hover::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: var(--pink);
  top: -46px;
  left: 1%;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.link:hover::after {

  transform: scaleX(0.9);

}

.flex-row {
  align-items: center;
  align-self: center;
  display: flex;
  gap: 850px;
  margin-top: 42px;
}

.logo {
  height: 5%;
  width: 5%;
}

.menu {
  align-items: flex-start;
  display: flex;
  gap: 67px;
  height: 19px;
  justify-content: flex-end;
  margin-bottom: 2px;
  width: 31%;
}

.hbergements:hover {
  color: var(--pink)
}

.trouvez-votre-hberg {
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  margin-top: 52px;
  min-height: 26px;
}

.en-plein-centre-vill {
  color: var(--black);
  font-weight: 400;
  line-height: normal;
  margin-top: 8px;
  min-height: 19px;
}

.overlap-container {
  border: 1px solid;
  border-color: var(--grey);
  border-radius: 15px;
  height: 53px;
  margin-top: 20px;
  position: relative;
  width: 25%;
}

.container-map {
  background-color: var(--grey);
  border-radius: 15px 0px 0px 15px;
  height: 53px;
  position: absolute;
  width: 15%;
}

::placeholder {
  color: var(--black);
  opacity: 1;
  text-align: center;
}

button {
  text-decoration: none;
  display: inline-block;
  background: var(--pink);
  border: none;
}

.marseille-france {
  font-weight: 700;
  left: 50px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 15px;
}

.button-search-desktop {
  align-items: center;
  background-color: var(--pink);
  border-radius: 0px 15px 15px 0px;
  display: flex;
  gap: 10px;
  height: 53px;
  left: 284px;
  padding: 15px 16px;
  position: absolute;
  top: 0;
  width: fit-content;
}

.rechercher {
  color: var(--strokecard);
  font-weight: 700;
  line-height: normal;
  margin-left: -1.00px;
  margin-top: -2.00px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.filter-bar {

  margin-top: 3%;
  width: fit-content;
}

.filtres {
  align-self: center;
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.filtres:hover {
  color: var(--pink2)
}

.filter {
  border: 2px solid;
  border-color: var(--greytint2);
  border-radius: 25px;
  margin-left: 32px;
  padding: 4px 20px;
  position: relative;
  width: fit-content;
}

.icon {
  margin-top: 10px;
  color: var(--pink)
}

.text {
  color: var(--black);
  font-family: var(--font-family-raleway);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
  padding: 10px 0px 10px 10px;
}

.infobar {
  align-items: center;
  display: flex;
  gap: 11px;
  margin-top: 35px;
  width: fit-content;
}

.fa-icon-info {
  border: 1px solid var(--greytint2);
  border-radius: 12px;
  height: 24px;
  padding: 6px 9px;

}

.fa-info {
  display: flex;
  align-items: center;
  color: var(--pink)
}

.section-offers {
  height: 100%;
  width: 100%;
}

.offers-main {
  align-items: flex-start;
  background-color: var(--grey);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  min-height: 626px;
  padding: 45px 0;
  width: 100%;
}

.hbergement-marseille {
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  grid-column: 1/4;
  text-align: left;
  font-size: var(--font-size-xxxl);
  margin-top: 20px;
}

.card-image {
  height: 124px;
  object-fit: cover;
  width: 246px;
  border-radius: 20px 20px 0 0;
  padding: 5px;
}


.card-content {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-right: 6px;
  margin-top: 5px;
  min-height: 39px;
  width: 85%;
}


.stars {
  margin-left: 16px;
  margin-top: 6px;

}

.stars-2 {
  padding-bottom: 10px;
}

.star-blue {
  width: 9%;
  color: var(--pink);
  margin-right: 5px;
}

.star-grey {
  width: 9%;
  color: var(--greytint2);
}

.textcard {
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  min-height: 15px;
  width: 95%;

}

.textcard2 {
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  min-height: 15px;
  width: 100%;
}

.card-main {
  align-items: flex-start;
  background-color: var(--strokecard);
  border-radius: 20px;
  box-shadow: 0px 3px 15px #0000001a;
  display: flex;
  flex-direction: column;
  min-height: 102%;
  width: 100%;
}


.afficher-plus {
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  margin-top: 20px;
  grid-column: 1/4;
  text-align: left;
}

.aside {

  background-color: var(--grey);
  border-radius: 20px;
  padding: 44px 31px;

}

.row {
  align-items: center;
  display: flex;
  gap: 104px;
  height: 26px;
  margin-top: 7px;
  min-width: 100%;
}

.les-plus-populaires {
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  min-width: 64%;
}

.container1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 31px;
  margin-top: -20px;
  align-self: center;

}

.card-img1 {
  height: 144px;
  object-fit: cover;
  width: 50%;
  border-radius: 20px 0px 0px 20px;
  padding: 5px;

}

.textcard1 {
  color: var(--black);
  width: 100%;
  line-height: 2.5;
  height: 20px;
}



.card-sponsored {
  align-items: center;
  gap: 15px;
  margin-top: 33px;
  min-width: 343px;
}

.cardtext {
  background-color: var(--strokecard);
  border-radius: 0px 0px 20px 20px;
  height: 56px;
  left: 0;
  top: 0;
  width: 302px;
}

.textcard3 {
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  width: 85%;
  display: flex;
  align-items: center;
  margin: auto;
}

.card-img {
  object-position: 50% 50%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  height: 100%;
  width: 100%;


}

.card-activity {
  border-color: var(--greytint2);
  height: 445px;
  width: 302px;
  background-color: var(--strokecard);
  border-radius: 20px;
  box-shadow: 0px 3px 15px #0000001a;
  display: flex;
  align-items: flex-end;

}

.card {
  background-color: var(--strokecard);
  border-radius: 20px;
  box-shadow: 0px 3px 15px #0000001a;
  display: flex;
  align-items: flex-end;

}

.position {
  grid-column: 1/4;

}

footer {
  position: relative;
  background-color: var(--grey);
  display: flex;
  justify-content: space-around;
  height: 100%;
  margin-bottom: -34.0px;
  width: 100%;
  padding: 44.0px 70px;
  margin-top: 61px;

}

.flex {
  align-items: flex-start;
  display: flex;
}

.flex-col {
  align-items: flex-start;
  display: flex;
  gap: 44px;
  margin-top: 4px;
  width: 100%;
  height: fit-content;
  flex-direction: column;

}

.section {
  align-items: flex-end;
  gap: 35px;
  margin-top: 20px;
  display: flex;
}

.fas {
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex-direction: column;
  margin-left: -150px;
  gap: 20px;
}

.grid-container2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 35px;
  margin-top: 65px;
  padding-bottom: 20px;
  width: 100%;

}

.grid1 {
  grid-column: 1 / span 4;
  grid-row: 1;
  margin-bottom: 57px;
}

.grid2 {
  grid-column: 1;
  grid-row: 2;

}

.grid3 {
  grid-column: 2;
  grid-row: 2;
}

.grid4 {
  grid-column: 3;
  grid-row: 2;
}

.grid5 {
  grid-column: 4;
  grid-row: 2;
}